md-list .md-subheader {
	background: none;
}

md-list-item:hover {
    background-color: #fafafa;
}

md-list-item {
	padding-top: 10px;
}

.log p {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.log-details button.md-icon-button {	
	margin-left: -10px;
}

.log-details h4 {	
	display: inline-block;
	margin: 0;
}

.log-details svg {	
	vertical-align: -5px;
}

.log-search-form .md-errors-spacer {
	display: none;
}