<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="ConfiguratorApp">

	<head>
	  	<meta charset="utf-8"></meta>
	  	<meta name="_csrf" th:content="${_csrf.token}"/>
  		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

	  	<title>Mokka</title>
		<link rel="icon" type="image/png" href="static/favicon.ico"/>
	  	<link rel="stylesheet" type="text/css" th:href="@{css/angular-material.min.css}" />
	  	<link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}" />
	  	<link rel="stylesheet" type="text/css" th:href="@{css/tomorrow.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{css/datetimepicker/picker.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
	  	<link rel="stylesheet" type="text/css" th:href="@{css/{path}/styles.css(path=${path})}" />
	</head>

	<body>
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>
	          <div id="logoMokka"></div>
	        </h2>

              <section layout="row" layout-sm="column" layout-align="center center" layout-wrap sec:authorize="hasRole('ROLE_USER')">
			      <md-button th:href="@{/logs}" target="_self" th:classappend="${#httpServletRequest.requestURI.contains('logs')} ? 'active'">Logs</md-button>
			      <md-button th:href="@{/configurations}" target="_self" th:classappend="${#httpServletRequest.requestURI.contains('configurations')} ? 'active'">Configuration</md-button>
			      <md-button th:href="@{/users}" target="_self" th:classappend="${#httpServletRequest.requestURI.contains('users')} ? 'active'" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_ADMIN')">Users</md-button>
              </section>

	        <span flex=""></span>

	        <div sec:authorize="hasRole('ROLE_USER')" layout="row" layout-align="space-around center">
	        	<h2>
	        		<span sec:authentication="principal.firstName">Bob</span>
	        		&nbsp;
	        		<span sec:authentication="principal.lastName">Bob</span>
		        </h2>


		        <md-menu>
					<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
					  	<ng-md-icon icon="arrow_drop_down" style="fill: #fff"></ng-md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item><md-button th:href="@{/change-password}" target="_self">Change password</md-button></md-menu-item>
						<md-menu-item><md-button th:href="@{/logout}" target="_self">Logout</md-button></md-menu-item>
					</md-menu-content>
		        </md-menu>

	        </div>
	      </div>
	    </md-toolbar>

		<div id="main-container" ng-cloak="" th:include="${#strings.concat(path, '/page')} :: main"></div>

		<script th:src="@{js/angular.min.js}"></script>
		<script th:src="@{js/angular-animate.min.js}"></script>
		<script th:src="@{js/angular-aria.min.js}"></script>
		<script th:src="@{js/angular-messages.min.js}"></script>
		<script th:src="@{js/angular-material.js}"></script>
		<script th:src="@{js/angular-material-icons.min.js}"></script>
		<script th:src="@{js/moment.min.js}"></script>
		<script th:src="@{js/ng-file-upload.min.js}"></script>
		<script th:src="@{js/ace/src-min-noconflict/ace.js}"></script>
		<script th:src="@{js/ui-ace.min.js}"></script>
		<script th:src="@{js/datetimepicker/picker.js}"></script>
		<script th:src="@{js/lazy-scroll.min.js}"></script>
		<script th:src="@{js/script.js}"></script>
		<script th:src="@{js/{path}/service.js(path=${path})}"></script>
		<script th:src="@{js/{path}/controller.js(path=${path})}"></script>
	</body>

</html>
