<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
</head>
<body>
<div th:fragment="main">

    <div ng-controller="JmsConfigurationController as ctrl">
        <h4>{{ctrl.greeting}}</h4>

        <md-fab-speed-dial md-direction="left" class="md-fling md-fab-bottom-right" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-tooltip md-direction="top">Menu</md-tooltip>
                    <ng-md-icon icon="menu" style="fill: #fff"></ng-md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="add" class="md-fab md-raised md-mini" ng-click="ctrl.addMockConfiguration()">
                    <md-tooltip md-direction="top">Add</md-tooltip>
                    <ng-md-icon icon="add" style="fill:#666666"></ng-md-icon>
                </md-button>
                <md-button type="file" aria-label="import" class="md-fab md-raised md-mini" ngf-select="ctrl.importFromFile($file, $invalidFiles)">
                    <md-tooltip md-direction="top">Import</md-tooltip>
                    <ng-md-icon icon="file_upload" style="fill:#666666"></ng-md-icon>
                </md-button>
                <md-button aria-label="export" class="md-fab md-raised md-mini" th:href="@{/configurations/export}" target="_blank">
                    <md-tooltip md-direction="top">Export</md-tooltip>
                    <ng-md-icon icon="file_download" style="fill:#666666"></ng-md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>

        <md-card>
            <md-card-content>
                <md-content layout-padding="" layout="column">
                    <div layout="row">
                        <md-input-container class="md-block" flex="15">
                            <label>Id</label>
                            <input ng-model="ctrl.search.id" ng-change="ctrl.search.update = true" type="number"
                                   ng-enter="ctrl.activateFilter()"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex="33">
                            <label>Name</label>
                            <input ng-model="ctrl.search.name" ng-change="ctrl.search.update = true"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex="33">
                            <label>Queue Name</label>
                            <input ng-model="ctrl.search.queueName" ng-change="ctrl.search.update = true"/>
                        </md-input-container>

                    </div>

                    <div layout="row">
                        <md-input-container class="md-block" flex="33">
                            <label>Pattern(body)</label>
                            <input ng-model="ctrl.search.pattern" ng-change="ctrl.search.update = true"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex="33">
                            <label>Description</label>
                            <input ng-model="ctrl.search.description" ng-change="ctrl.search.update = true"/>
                        </md-input-container>
                        <md-input-container class="md-block" flex="15">
                            <label>Status</label>
                            <md-select ng-model="ctrl.search.enabled" ng-change="ctrl.search.update = true">
                                <md-option value="">All</md-option>
                                <md-option value="true">Enabled</md-option>
                                <md-option value="false">Disabled</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-button class="md-raised md-primary" ng-click="ctrl.activateFilter()">Filter</md-button>
                        <md-button class="md-raised" ng-click="ctrl.resetFilter()">Reset</md-button>
                    </div>

                </md-content>
            </md-card-content>
        </md-card>

        <md-card ng-show="ctrl.loading">
            <md-card-content layout="row" layout-align="center center">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </md-card-content>
        </md-card>

        <md-card ng-show="!ctrl.showingResult">
            <md-card-content>
                <h3>No mocks were found</h3>
            </md-card-content>
        </md-card>

        <div ng-show="ctrl.jmsmocks.length &amp;&amp; ctrl.showingResult">
            <md-card id="mock-{{jmsmock.id}}" ng-repeat="jmsmock in ctrl.jmsmocks" class="{{jmsmock.editMode ? 'edit-mode' : ''}}">
                <md-card-content>

                    <div class="jmsmock-basic">
                        <div layout="row" layout-align="start center">
                            <md-input-container md-is-error="jmsmock.errors.id != null" flex="5">
                                <label>Id</label>
                                <input placeholder="" ng-model="jmsmock.id" required="" ng-disabled="true"
                                       md-no-asterisk="true" ng-enter="ctrl.saveEditMode(mock)"/>
                            </md-input-container>
                            <md-input-container md-is-error="jmsmock.errors.path != null" flex="60">
                                <label>Request Queue Name</label>
                                <input placeholder="" ng-model="jmsmock.requestQueueName" required="" ng-disabled="!jmsmock.editMode" md-no-asterisk="true"/>
                            </md-input-container>
                            <md-input-container md-is-error="jmsmock.timeout != null" flex="20">
                                <label>Delay (ms)</label>
                                <input type="number" placeholder="" ng-model="jmsmock.timeout" ng-disabled="!jmsmock.editMode"/>
                            </md-input-container>
                            <md-input-container md-is-error="jmsmock.errors.order != null" flex="20">
                                <label>Order</label>
                                <input type="number" placeholder="" ng-model="jmsmock.order" ng-disabled="!jmsmock.editMode"/>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="start center">
                            <span>
						  		<md-tooltip md-direction="top" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">{{ jmsmock.replyToHeader ? 'Disable' : 'Enable'}}</md-tooltip>
						  		<md-tooltip md-direction="top" sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">You don't have permision to change configuration</md-tooltip>
							  	<md-switch ng-model="jmsmock.replyToHeader" class="md-primary" ng-change="ctrl.setReplyToHeader(jmsmock)" ng-disabled="!user.isAdmin &amp;&amp; !user.isEditor"></md-switch>
						  </span>
                        <md-input-container class="md-block" md-is-error="jmsmock.errors.pattern != null" flex="95">
                            <label>Response Queue Name</label>
                            <input placeholder="" ng-model="jmsmock.responseQueueName" ng-disabled="!jmsmock.editMode"/>
                        </md-input-container>
                        </div>

                        <md-input-container class="md-block" md-is-error="jmsmock.errors.name != null">
                            <label>Mock Name</label>
                            <input placeholder="" ng-model="jmsmock.name" ng-disabled="!jmsmock.editMode"/>
                        </md-input-container>
                        <md-input-container class="md-block" md-is-error="jmsmock.errors.description != null">
                            <label>Description</label>
                            <textarea placeholder="" ng-model="jmsmock.description" ng-disabled="!jmsmock.editMode"></textarea>
                        </md-input-container>
                    </div>

                    <div class="jmsmock-configuration">
                        <h4>Configuration</h4>
                        <md-button class="md-icon-button md-ink-ripple" type="button" ng-click="ctrl.showConfiguration(jmsmock)" ng-show="!jmsmock.editMode">
                            <md-tooltip md-direction="top">{{mock.showConfiguration ? 'hide' : 'show'}} configuration</md-tooltip>
                            <ng-md-icon ng-show="!jmsmock.showConfiguration" style="fill: #000000" icon="expand_more"></ng-md-icon>
                            <ng-md-icon ng-show="jmsmock.showConfiguration" style="fill: #000000" icon="expand_less"></ng-md-icon>
                        </md-button>
                        <div ng-show="jmsmock.showConfiguration || mock.editMode">
                            <md-input-container class="md-block" md-is-error="jmsmock.errors.description != null">
                                <label>JMS header section</label>
                                <textarea placeholder="" ng-model="jmsmock.jmsHeaderSection" ng-disabled="!jmsmock.editMode"></textarea>
                            </md-input-container>
                            <md-input-container class="md-block" md-is-error="jmsmock.errors.description != null">
                                <label>JMS property section</label>
                                <textarea placeholder="" ng-model="jmsmock.jmsPropertySection" ng-disabled="!jmsmock.editMode"></textarea>
                            </md-input-container>
                            <div layout="row">
                                <md-input-container md-is-error="jmsmock.errors.status != null" flex="25">
                                    <label>Response status</label>
                                    <md-select ng-model="jmsmock.status" ng-disabled="!jmsmock.editMode">
                                        <md-option ng-repeat="(key, value) in  ctrl.statuses" value="{{key}}">{{key}} {{value}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container>
                                    <label>Type</label>
                                    <md-select ng-model="jmsmock.type" ng-disabled="!jmsmock.editMode" ng-change="ctrl.clearConfiguration(jmsmock)">
                                        <md-option value="string">string</md-option>
                                        <md-option value="xml">xml</md-option>
                                        <md-option value="groovy">groovy</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div ng-show="jmsmock.type == 'xml'" class="full-width">
                                <div class="ui-ace" ng-readonly="!jmsmock.editMode" ui-ace="{mode: 'xml'}" ng-model="jmsmock.configurationContent"></div>
                            </div>
                        </div>
                    </div>

                </md-card-content>

                <md-card-actions layout="column">
                    <md-divider ></md-divider>

                    <div layout="row" layout-align="end center">
						  <span>
						  		<md-tooltip md-direction="top" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">{{ jmsmock.enabled ? 'Disable' : 'Enable'}}</md-tooltip>
						  		<md-tooltip md-direction="top" sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">You don't have permision to change configuration</md-tooltip>
							  	<md-switch ng-model="jmsmock.enabled" class="md-primary" ng-change="ctrl.setEnabled(jmsmock)" ng-disabled="!user.isAdmin &amp;&amp; !user.isEditor"></md-switch>
						  </span>
                        <md-button class="md-icon-button {{jmsmock.showChanges ? 'md-raised' : ''}}" ng-click="ctrl.showChanges(jmsmock)">
                            <md-tooltip md-direction="top">{{jmsmock.showChanges ? 'Hide' : 'Show'}} change history</md-tooltip>
                            <ng-md-icon style="fill: {{jmsmock.showChanges ? '#000000' : '#9a9a9a'}}" icon="history"></ng-md-icon>
                        </md-button>
                        <md-button ng-show="!jmsmock.editMode" class="md-icon-button" ng-click="ctrl.editMode(jmsmock)" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">
                            <md-tooltip md-direction="top">Edit</md-tooltip>
                            <ng-md-icon style="fill: #9a9a9a" icon="edit"></ng-md-icon>
                        </md-button>
                        <md-button ng-show="!jmsmock.editMode" class="md-icon-button" ng-click="ctrl.duplicatejmsmock(jmsmock)" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">
                            <md-tooltip md-direction="top">Duplicate</md-tooltip>
                            <ng-md-icon style="fill: #9a9a9a" icon="content_copy"></ng-md-icon>
                        </md-button>
                        <md-button ng-show="jmsmock.editMode" class="md-icon-button" ng-click="ctrl.saveEditMode(jmsmock)" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">
                            <md-tooltip md-direction="top">Save</md-tooltip>
                            <ng-md-icon style="fill: #9a9a9a" icon="save"></ng-md-icon>
                        </md-button>
                        <md-button ng-show="jmsmock.editMode" class="md-icon-button" ng-click="ctrl.cancelEditMode(jmsmock)" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">
                            <md-tooltip md-direction="top">Cancel</md-tooltip>
                            <ng-md-icon style="fill: #9a9a9a" icon="cancel"></ng-md-icon>
                        </md-button>
                        <md-button ng-show="jmsmock.editMode &amp;&amp; !jmsmock.isNew" class="md-icon-button" ng-click="ctrl.removejmsmockConfiguration(jmsmock)" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">
                            <md-tooltip md-direction="top">Delete</md-tooltip>
                            <ng-md-icon style="fill: #9a9a9a" icon="delete_forever"></ng-md-icon>
                        </md-button>
                    </div>

                </md-card-actions>
            </md-card>

            <div layout="row" layout-align="center center">
                <md-button class="md-icon-button" ng-click="ctrl.paginationPrevious()" ng-disabled="ctrl.pagination == 0">
                    <md-tooltip md-direction="top">Previous page</md-tooltip>
                    <ng-md-icon icon="navigate_before" style="fill: {{ctrl.pagination == 0 ? '#9a9a9a' : '#000000'}}"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="ctrl.paginationNext()" ng-disabled="!ctrl.paginationHasNext">
                    <md-tooltip md-direction="top">Next page</md-tooltip>
                    <ng-md-icon icon="navigate_next" style="fill: {{!ctrl.paginationHasNext ? '#9a9a9a' : '#000000'}}"></ng-md-icon>
                </md-button>
            </div>
        </div>



    </div>

</div>
</body>
</html>
