<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
      
	<head>
	  	<meta charset="utf-8"></meta>	  	
	</head>
	<body>
		<div th:fragment="main">
			<div ng-controller="ConfiguratorCtrl as ctrl" ng-cloak="">
				<md-content class="md-padding" layout="column">
					
				    <b>Timeout</b>
                    <div>
                        <input type="text" ng-model="ctrl.timeout" placeholder="enter timeout"/>
                        <md-button ng-click="ctrl.saveTimeout()">Save</md-button>
                    </div>
	                    
				</md-content>	
				
				
					
				<md-fab-speed-dial md-direction="left" class="md-scale md-fab-top-right">
			      <md-fab-trigger>
			        <md-button aria-label="menu" class="md-fab md-warn">
			          <md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>
			          <ng-md-icon icon="menu" style="fill: #fff"></ng-md-icon>
			        </md-button>
			      </md-fab-trigger>
			      <md-fab-actions>			        
			          <md-button aria-label="Configure Types" class="md-fab md-raised md-mini" ng-click="showTypeConfigurationDialog($event)">
					      <ng-md-icon icon="create"></ng-md-icon> 
					  </md-button>
			      </md-fab-actions>
			    </md-fab-speed-dial>
			    
			</div>			
		</div>
	</body>
</html>